:root {
    /* ligth mode */
    --light-text: #222430;
    --light-bg: #f7f7f7;
    --light-theme: #d2a5fd;
    --light-acsent: #7380f5;

    /* dark mode */
    --dark-text: #f7f7f7;
    --dark-bg: #222430;
    --dark-theme: #d6ffec;
    --dark-acsent: #bdff97;
    
    /* neon mode */
    --neon-text: #28ff69;
    --dark-bg: #222430;
    --neon-theme: #00ff4c;
    --neon-acsent: #fffb2c;

    /* default mode*/
    --text-color: var(--light-text);
    --bg-color: var(--light-bg);
    --theme-color: var(--light-theme);
    --acsent-color: var(--light-acsent);
}

#switchDay:checked ~ #page {
    --text-color: var(--light-text);
    --bg-color: var(--light-bg);
    --theme-color: var(--light-theme);
    --acsent-color: var(--light-acsent);
}

#switchNigth:checked ~ #page {
    --text-color: var(--dark-text);
    --bg-color: var(--dark-bg);
    --theme-color: var(--dark-theme);
    --acsent-color: var(--dark-acsent);
}

#switchNeon:checked ~ #page {
    --text-color: var(--neon-text);
    --bg-color: var(--neon-bg);
    --theme-color: var(--neon-theme);
    --acsent-color: var(--neon-acsent);
}

* {
    margin: 0;
    padding: 0;
}

#app {
    background: var(--bg-color);
    color: var(--text-color);
}

.header {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

.theme-switchers {
    display: flex;
    gap: 24px;
}

.theme-switchers div {
    border: 2px solid var(--theme-color);
    margin: 10px 0;
    position: relative;
    padding: 5px 20px;
}

.theme-switchers input {
    position: absolute;
    z-index: -1;
    width: 35px;
    height: 35px;
    cursor: pointer;
    transform: translate(5px, -5px);
    opacity: 0;
}

.theme-switchers label {
    font-size: 20px;
}

.main {
    height: 100vh;
    width: 100%;
    position: relative;
}

.main::before {
    content: "";
    height: 50px;
    width: 50px;
    background: transparent;
    border-left: 3px solid var(--acsent-color);
    border-bottom: 3px solid var(--acsent-color);
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.main::after {
    content: "REC *";
    height: 50px;
    width: 50px;
    background: transparent;
    border-top: 3px solid var(--acsent-color);
    border-right: 3px solid var(--acsent-color);
    position: absolute;
    top: 20px;
    right: 20px;
    color: var(--acsent-color);
    font-size: 18px;
}

.title {
    position: absolute;
    top: 60%;
    left: 0;
    width: 100%;
    transform: translateY(-80%);
    font-size: 40vh;
    font-weight: bold;
    color: var(--acsent-color);
}

.title::before {
    content: "no focus";
    position: absolute;
    top: 81%;
    left: 5px;
    transform: translateY(-80%);
    color: var(--theme-color);
    z-index: -1;
    width: fit-content;
    font-size: 40vh;
}

.main_sub-text {
    background: var(--theme-color);
    width: 50%;
    height: fit-content;
    position: absolute;
    bottom: 15%;
    right: 2%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.main_sub-text p {
    font-size: 30px;
    letter-spacing: 2px;
}