:root {    
    /* default theme */
    --text-color: #222430;
    --bg-color: #f7f7f7;
    --theme-color: #d2a5fd;
    --acsent-color: #7380f5;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Noto Sans";
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

/* ////////////////////////////////////////// */

header {
    position: absolute;
    height: fit-content;
    z-index: 1000;
}

.theme-switcher {
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: fixed;
}

.theme-switch-btn {
    width: 120px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 25px;
    padding: 5px;
    background: var(--acsent-color);
    border: none;
    outline: none;
    color: var(--bg-color);
    cursor: pointer;
}

.theme-switch-btn:hover {
    background: var(--theme-color);
}

/* ////////////////////////////////////////// */ 

.main {
    height: 100vh;
    width: 100%;
    position: relative;
}

.main::before {
    content: "";
    height: 50px;
    width: 50px;
    background: transparent;
    border-left: 3px solid var(--acsent-color);
    border-bottom: 3px solid var(--acsent-color);
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.main::after {
    content: "REC *";
    height: 50px;
    width: 50px;
    background: transparent;
    border-top: 3px solid var(--acsent-color);
    border-right: 3px solid var(--acsent-color);
    position: absolute;
    top: 20px;
    right: 20px;
    color: var(--acsent-color);
    font-size: 18px;
}

.title {
    position: absolute;
    top: 60%;
    left: 5px;
    width: 100%;
    transform: translateY(-80%);
    font-size: 30vh;
    font-weight: bold;
    color: var(--acsent-color);
}

.title::before {
    content: "no focus";
    position: absolute;
    top: 81%;
    left: 5px;
    transform: translateY(-80%);
    color: var(--theme-color);
    z-index: -1;
    width: fit-content;
    font-size: 30vh;
}

.main_sub-text {
    background: var(--theme-color);
    width: 50%;
    height: fit-content;
    position: absolute;
    bottom: 15%;
    right: 2%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-left: 5px;
}

.main_sub-text p {
    font-size: 1.5em;
    letter-spacing: 2px;
    color: #222430;
}

/* ////////////////////////////////////////// */

.reasons,
.advices {
    display: flex;
    width: 100%;
    height: minmax(fit-content,  500px);
    margin: 12px 0;
}

.reasons > h2,
.advices > h2 {
    width: 35%;
    height: fit-content;
    font-size: 30px;
    color: var(--acsent-color);
    padding-left: 12px;
    letter-spacing: 2px;
}

.reasons-container,
.advices-container {
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 0 12px;
}

.reason {
    margin: 0 12px;
}

.header {
    font-size: 22px;
    color: var(--acsent-color);
}

.text {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2px;
    color: var(--text-color);
}

.marked-text {
    font-weight: bold;
    background: transparent;
    font-size: 18px;
    color: var(--acsent-color);
}

/* ////////////////////////////////////////// */

.whys {
    width: 100%;
    margin: 24px 0 0;
}

.whys > h2 {
    height: fit-content;
    width: 40%;
    font-size: 30px;
    color: var(--bg-color);
    padding-left: 12px;
    letter-spacing: 2px;
}

.whys-container {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    gap: 3%;
    padding: 12px calc((100% - 90% - 6%) / 2) 0;
}

/* ////////////////////////////////////////// */

.advices-container h2 {
    background: var(--theme-color);
    color: black;
    padding-left: 5px;
}

.advices-container h3 {
    background: var(--theme-color);
    color: black;
    font-weight: 600;
    letter-spacing: 2px;
    padding-left: 5px;
}

.advices-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

/* ////////////////////////////////////////// */

.image-section {
    display: grid;
    grid-template-columns: repeat(7, 5fr);
    grid-auto-rows: 4fr;
    gap: 1em;
    width: fit-content;
    margin: 0 10px;
}

.image-section img {
    height: 100%;
    width: 100%;
}

#img-1 {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    object-fit: contain;
}

#img-2 {
    grid-column: 3 / 5;
    grid-row: 1 / 3;
}

#img-3 {
    grid-column: 5/ 8;
}

#img-4 {
    grid-column: 1 / 3;
}

#img-5 {
    grid-column: 5 / 8;
    grid-row: 2 / 3
}

/* ////////////////////////////////////////// */

.footer {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-title {
    font-size: 30vh;
    font-weight: bold;
    color: var(--acsent-color);
    position: relative;
}

.footer-title::before {
    content: "focus";
    position: absolute;
    top: 81%;
    left: 5px;
    transform: translateY(-80%);
    color: var(--theme-color);
    z-index: -1;
    width: fit-content;
    font-size: 30vh;
}